
*{
    box-sizing: border-box;
}
body {
    width: 100%;
    min-width: 724px;
    margin: 0px;
    text-align: center;
    color: white;
    text-shadow: floralwhite;
    background-color: gray;
    background-color: rgba(0, 0, 0, 0.39);
    background-size: cover;
    background-image: url(https://steamuserimages-a.akamaihd.net/ugc/873000516825480253/C5C95FB0A898646437F361003E6E61B5CA099358/);
}
h1 {
    color: rgb(11, 156, 201);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height:100px;

}
#img {
    margin-top: 0;
    padding: 0;
}
.heading {
    text-transform: uppercase;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 0.1px;
    font-weight: bold;
}
img {
    opacity: 0.9;
    background: linear-gradient(yellow,green,blue,darkblue,rgb(12, 9, 17),black);
    width: 100%;
    height: auto;
    max-height: 400px;
    min-height: 200px;
}
h2 {
    color: blue;
}
.link{
    border-style: dashed;
    border-width: thin;
    border-radius: 50px;
    margin: auto;
    max-width: 200px;
    opacity: 0.9;
    background-color: rgba(0, 0, 0, 0.411) ;
}
p{
    text-align: left;
    padding: 10px;
}
ul li{
    list-style: none;
}
#inlink {
    padding: 0;
    width: 100%;
}
#inlink li{
    display: inline;
    min-width: 10%;
    background-color:rgba(0, 0, 0, 0.658);
    margin: 5%;
    border: 8px;
    border-style: solid;
    border-color:rgba(0, 0, 0, 0.329);
    border-radius: 20%;
}
#inlink a:link,#inlink a:visited {
    text-decoration:none;
    color:antiquewhite;
    opacity: 0.8;
}
#inlink a:hover,#inlink a:active {
    background-color: rgba(250, 235, 215, 0.075);
    color: antiquewhite;
    opacity: 0.8;
}
ol li{
    list-style: upper-roman;
    list-style-position: inside;
}
#exit {
    text-align: center;
    background-color: rgba(8, 8, 8, 0.548);
    margin-bottom: 0;
}
#exlink {
    width: 100%;
    background-color: rgba(8, 8, 8, 0.548);
    margin-top: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}
#exlink li{
    display: inline;
    margin: 6%;
}
ul li#allign {
    margin-left: 10%;
    margin-right: 2%;
}
#exlink a:link,#exlink a:visited{
    border-style: dashed;
    border-radius: 10%;
    border-width: 2px;
    opacity: 1;
    color: rgb(11, 104, 61);
    text-decoration: none;
    background-color: rgba(8, 8, 8, 0.247);
}
#exlink a:hover,#exlink a:active{
    background-color: rgba(173, 177, 177, 0.226);
    color: black;
}
#footer {
    background-color: rgba(0, 0, 0, 0.6);
}
#section1 {
    float:left;
}
#section2 {
    float:left;
}
.clear {
    clear: both;
}
section {
    margin: 5%;
    width: 40%;
    height: auto;
    background-color: rgb(8, 8, 10);
    padding: 20px;
    text-align: left;
}
.third {
    width: 31%;
    float: left;
    padding: 20px;
    text-align: left;
    background-color: rgba(2, 34, 21, 0.616);
    margin: 1%;
}
#list {
    background-color: rgba(1, 10, 20, 0.719);
    margin-left: auto;
    width: 300px;
    padding: 10px;
    margin-right: auto;
    margin-bottom: 10px;
    height: auto;
}
@media (max-width:994px) {
    .consol-6 {
        float: left;
        width:48%;
        height:250px; 
        padding: 20px;
        background-color: rgba(8, 8, 8, 0.548);
        margin: 1%;
    }
}
@media (min-width:995px) {
    .consol-3 {
        float: left;
        width:23%; 
        height:auto; 
        padding: 20px;
        background-color: rgba(8, 8, 8, 0.548);
        margin: 1%;
    }
}